.stockBoxPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stockBox {
  background-color: #FAEDCD;
  grid-template-columns: 1fr;
  display: grid;
  max-width: 1280px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 20px;
  height: 600px;

}

@media screen and (min-height: 850px) {
  .stockBox {height: 750px;}
}

@media screen and (min-width: 650px) {
  .stockBox {grid-template-columns: 1fr 1fr; }
}

@media screen and (min-width: 900px) {
  .stockBox {grid-template-columns: 1fr 1fr 1fr;}
}

@media screen and (min-width: 1280px) {
  .stockBox {grid-template-columns: 1fr 1fr 1fr 1fr;}
}




.filterButtons {
  align-items: right;
}
