.stockItem {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
}

.stockRow {
  display: flex;
  height: 90px;
  align-items: center;
}

.bottom {
  justify-content: space-between;
}

.stockDailyChange {
  font-size: 20px;
}

.stockSector {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

.stockItem:hover {
  background-color: green;
}

.stockTicker {
  font-weight: bold;
  font-size: 26px;
  border: solid 2px black;
  padding: 5px;
  margin: 0px 10px 10px 0px;
}

.stockName {
  font-weight: bold;
  font-size: 18px;
}

.stockPrice {
  color: green;
}

a {
  color: inherit;
  text-decoration: inherit;
}
