.stockItem {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.stockRow {
  display: flex;
}

.stockCol {
}

.stockItem:hover {
  background-color: green;
}

.stockTicker {
  font-weight: bold;
  font-size: 30px;
  border: solid 2px black;
  padding: 5px;
  margin: 5px;
}

.stockName {
  font-weight: bold;
}

.stockPrice {
  color: green;
}

a {
  color: inherit;
  text-decoration: inherit;
}
